<ion-view view-title="Tablero de Escritura">
  <ion-content>
    <div>
      {{text}}
    </div>  
    <div class="row"> 
      <div class="col">
        <button class="button" ng-click="prev()">
          <i class="ion-arrow-left-a"></i>
        </button>
      </div>
      <div class="col" ng-repeat="character in comm"><button class="button my-button" ng-click="write(character)">{{character.toUpperCase()}}</button></div>
      <div class="col">
        <button class="button" ng-click="next()">
          <i class="ion-arrow-right-a"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
