<ion-view view-title="Tablero de Escritura">
  <ion-content>
    <div class="row">
      <div class="col">
        <button class="button" ng-click="prev()">
          <i class="ion-arrow-left-a"></i>
        </button>
      </div>
      <div class="col">{{comm.col1}}</div>
      <div class="col">{{comm.col2}}</div>
      <div class="col">{{comm.col3}}</div>
      <div class="col">{{comm.col4}}</div>
      <div class="col">
        <button class="button" ng-click="next()">
          <i class="ion-arrow-right-a"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
